﻿@model GameStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "GameStore: order form";
}

<h2>Purchase now</h2>
<p>Add your contact data and we deliver your order!</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Contact data</h3>
    <div class="form-group">
        <label>Your name:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Delivery address</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <h3>Options</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Use gift wrap?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Process order" />
    </div>
}